<header class="header">
    <a href="/admin" class="header__logo">Author's Page</a>
  
    <nav class="header__nav">
      
  
    </nav>
  
    <div class="header__button">
      <a href="/logout">
        Logout
      </a>
    </div>
  
  </header>